@font-face {
  font-family: 'Montserrat';
  src: url('Montserrat-Medium.ttf') format('ttf');
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('Montserrat-Regular.ttf') format('ttf');
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('MontserratAlternates-Bold.ttf') format('ttf');
  font-display: swap;
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('Montserrat-Black.ttf') format('ttf');
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('Montserrat-Black.ttf') format('ttf');
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('Montserrat-SemiBold.ttf') format('ttf');
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}
